<h1 class="title">Employee Login</h1>
<h2 class="title is-4">Log in with username/password</h2>
<%= form_tag "/login" do %>
  <div class="field">
    <%= label_tag "Username", nil, class: "label" %>
    <%= text_field_tag :'username', nil, class: "control" %>
    </div>
  <div class="field">
      <%= label_tag "Password", nil, class: "label" %>
      <%= password_field_tag :password, nil, class: "control" %>
  </div>
  <%= submit_tag :"Log in", class: "button is-link" %>
<% end %>
<hr>
<h2 class="title is-4"> Or choose from the options below:</h2>
<br>
<%= link_to 'Log in with GitHub', '/auth/github', method: :post, class: "button is-link"%>
<br>
<br>
<div>
<%= link_to "Create New Account", new_workspace_employee_path, class: "button is-link" %>
</div>