<%= form_with model: [:workspace, @article] do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2 class="title is-5 has-text-danger">There were some errors:</h2>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: "label" %>
    <%= f.text_field :title, class: "control" %>
  </div>
  <div class="field">
    <%= f.label :content, class: "label" %>
    <%= f.text_area :content, size: "100x30", class: "control" %>
  </div>
  <div class="field">
    <%= f.label :tags, class: "label" %>
    <%= f.collection_check_boxes :tag_ids, Tag.order(:tag), :id, :tag%>
  </div>
  <div class="field">
    <%= f.label :status, class: "label" %>
    <%= f.collection_select :status, ["new", "approved", "edit", "review", "published"] , :to_s, :to_s %>
  </div>
  <div class="field">
    <%= f.label :employee, class:"label" %>
    <%= f.collection_select :employee_id, Employee.all, :id, :username, include_blank: "Keep Unassigned" %>
  </div>
    <%= f.submit %>
<% end %>