<%= form_with model: [:workspace, @employee] do |f| %>
  <div class="field">
    <%= f.label :gh_name, "GitHub Name", class: "label" %>
    <%= f.text_field :gh_name, class: "control" %>
  </div>
  <div class="field">
    <%= f.label :first_name, class: "label" %>
    <%= f.text_field :first_name, class: "control" %>
  </div>
  <div class="field">
    <%= f.label :last_name, class: "label" %>
    <%= f.text_field :last_name, class: "control" %>
  </div>
  <div class="field">
    <%= f.label :title, class: "label" %>
    <%= f.text_field :title, class: "control" %>
  </div>
  
  <div class="is-grouped">
    <%= f.submit class: "button is-link" %>
    <% if @employee.id %>
      <%= link_to "Cancel", workspace_employee_path(@employee), class: "button is-link is-light" %>
    <% end %>
  </div>
<% end %>