<h1 class="title">Editor Revision Form</h1>
<h2>For article <%= @editor_revision.article.title %></h2>
<%= form_with model: [:workspace, @editor_revision] do |f| %>
  <div class="field">
    <%= f.label :content, class: "label"  %>
    <%= f.text_area :content, size: "100x30", class: "control" %>
  </div>
    <%= f.hidden_field :reviewer_id, value: session[:employee_id] %>
    <%= f.hidden_field :article_id, value: @editor_revision.article.id %>

  <%= f.submit %>
<% end %>