<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <%= image_tag "ror_newsroom.svg", size: "150x150", class: "navbar-item" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Home", "/", class: "navbar-item" %>
      <%= link_to "RoR Newsroom Team", staff_index_path, class: "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <%= link_to "Tags", tags_path, class: "navbar-item" %>
          <a class="navbar-item">
            About RoR Newsroom
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Submit a lead
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if session[:employee_id] %>
            <%= link_to "Log Out", logout_path, method: :post, class: "button is-light" %>
          <% else %>  
            <%= link_to "Staff Login", login_path, class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>